<div class="group rounded-1g border">
    <a [routerLink]="['/product',product.id]" class="w-full overflow-hidden rounded-t-1g bg-gray-200">
      <img [src]="product.images" [alt]="product.title" class="h-full w-full object-cover object-center group-hover:opacity-75">
    </a>
    <div class="flex flex-col space-y-4 p-8 bg-opacity-10 rounded-lg shadow-md">
      <h3 class="text-sm text-gray-700">{{ product.title | uppercase }}</h3>
      <p class="text-sm font-medium text-gray-900">{{product.price | currency:'$':'symbol':'1.0'}}</p>
      <p class="text-sm font-medium text-gray-500">{{product.creationAt| timeAgo}}</p>
      <button  class="bg-blue-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 rounded"
        (click)="addToCartHandler()">agregar al carrito</button>
    </div>
  </div>